@charset 'UTF-8';
img#jenkins-head-icon{visibility: hidden !important;}
div#header,div.top-sticker-inner,ul#breadcrumbs{
background-color: #ffffff;
}

div#header{height: 50px;}
div.logo{background-image: url('http://cdn3.uvnimg.com/12/7b/68dc73b54ed9bfe7f66c5be27cc9/356x51-univisioncom-logo-2x.jpg');
display: inline-block;
width: 355px;
height: 50px;}
a#jenkins-home-link{display:none;}
div.top-sticker.noedge{top:50px;}
div#page-head a{color: #000000 !important;}
ul#breadcrumbs{border-bottom: 1px solid #080608;}
div#breadcrumbBar{background-color:transparent}

input#search-box{
    box-shadow: none;
    border-color: #000000;
    border-radius: 0
}
